# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/articles/*                           @tapanm-MSFT @v-aangie
/articles/dataverse                   @tapanm-MSFT @v-aangie
/articles/desktop-flows               @tapanm-MSFT @mattp123
/articles/developer                   @tapanm-MSFT @v-aangie
/articles/forms                       @tapanm-MSFT @v-aangie
/articles/guidance                    @tapanm-MSFT @v-aangie
/articles/includes                    @tapanm-MSFT @v-aangie
/articles/minit                       @tapanm-MSFT @v-aangie
/articles/mobile                      @tapanm-MSFT @v-aangie
/articles/teams                       @tapanm-MSFT @v-aangie
